

<div class="containertwo">
  <h1>Dashboard</h1>
  <section class="contenttwo">
    <div class="button-group">
      <button
        [class.active]="selectedChart === 'chartOne'"
        (click)="selectedChart = 'chartOne'">Partidas de passageiros</button>

      <button
        [class.active]="selectedChart === 'chartTwo'"
        (click)="selectedChart = 'chartTwo'">Chegadas de passageiros</button>

      <button
        [class.active]="selectedChart === 'chartThree'"
        (click)="selectedChart = 'chartThree'">Número de passageiros</button>

      <button
        [class.active]="selectedChart === 'chartFour'"
        (click)="selectedChart = 'chartFour'">Partidas e chegadas</button>
    </div>


    <div class="container">
      <section class="content">
        <div *ngIf="selectedChart === 'chartOne' && chartOneOptions.series?.length">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOneOptions"
            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>


        <div *ngIf="selectedChart === 'chartTwo'">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartTwoOptions"
            style="width: 100%; height: 400px; display: block">
          </highcharts-chart>
        </div>

        <div *ngIf="selectedChart === 'chartThree'">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartThreeOptions"
            style="width: 100%; height: 400px; display: block">
          </highcharts-chart>
        </div>

        <div *ngIf="selectedChart === 'chartFour'">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartFourOptions"
            style="width: 100%; height: 400px; display: block">
          </highcharts-chart>
        </div>
      </section>
    </div>
  </section>
</div>


